/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

@font-face {
  font-family: Font;
  src: local("Font"), url(../assets/Font.otf);
  font-weight: 400; }

#header {
  width: 100%;
  position: fixed;
  top: 0;
  display: block;
  z-index: 10; }
  #header.blur {
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px); }
  #header .nav {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 4vh;
    z-index: 601;
    box-sizing: border-box; }
    @media only screen and (max-width: 799px) {
      #header .nav {
        padding: 32px 20px; } }
    #header .nav .logo {
      display: block;
      margin-right: auto;
      margin-left: 0; }
      #header .nav .logo img {
        display: block;
        width: auto;
        height: 32px; }
    #header .nav a {
      margin-left: 32px;
      font-size: 0.8rem; }
      @media only screen and (max-width: 799px) {
        #header .nav a {
          margin-left: 24px; } }
    #header .nav .burger-menu {
      position: relative;
      height: 12px;
      width: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 12px 0px 12px 12px;
      transform-origin: 50% 50%;
      cursor: pointer;
      pointer-events: all; }
      #header .nav .burger-menu span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: black; }
    #header .nav .close_link {
      position: absolute;
      z-index: 100;
      right: 48px;
      opacity: 0;
      visibility: hidden;
      display: none;
      color: white;
      transform: translateY(-40px); }
  #header .menu_overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: calc(100% - 80px);
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 12vh 4vh 4vh 4vh 4vh;
    overflow: hidden;
    background: #013B2B;
    background: black;
    opacity: 0;
    visibility: hidden;
    z-index: 101;
    box-sizing: border-box; }
    @media only screen and (max-width: 799px) {
      #header .menu_overlay {
        padding: 0 20px; } }
    #header .menu_overlay .menu_primary {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 0;
      padding-top: 16px;
      margin-top: auto;
      margin-bottom: auto;
      z-index: 601; }
      #header .menu_overlay .menu_primary > li:not(:last-of-type) {
        margin-bottom: 40px; }
      #header .menu_overlay .menu_primary > li a.menu_link {
        position: relative;
        display: inline-block;
        font-size: 60px;
        font-weight: 700;
        line-height: 1;
        opacity: 0;
        color: white;
        transition: color .2s ease-in-out; }
        @media only screen and (max-width: 799px) {
          #header .menu_overlay .menu_primary > li a.menu_link {
            font-size: 32px;
            line-height: 1.5; } }
        #header .menu_overlay .menu_primary > li a.menu_link:hover {
          color: #FD633F; }
        #header .menu_overlay .menu_primary > li a.menu_link.inactive {
          opacity: 0.2; }

.menu_overlay h1,
.menu_overlay p,
.menu_overlay a,
.menu_overlay .copyright {
  opacity: 0;
  transform: translateY(30px); }

.menu_overlay h1 {
  width: 100%;
  margin-bottom: 0px;
  color: white; }

.menu_overlay > p {
  font-weight: 200;
  font-variation-settings: 'wght' 200;
  line-height: 1.8;
  margin: auto 0;
  color: white; }
  @media only screen and (max-width: 799px) {
    .menu_overlay > p {
      margin-bottom: 80px; } }
  @media only screen and (max-width: 799px) {
    .menu_overlay > p br {
      display: none; } }
  .menu_overlay > p a {
    color: #7F7F7F;
    text-decoration: underline; }

.menu_overlay .footer_links {
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 799px) {
    .menu_overlay .footer_links {
      flex-direction: column; } }
  @media only screen and (max-width: 799px) {
    .menu_overlay .footer_links li {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-bottom: 16px; } }
  .menu_overlay .footer_links li p, .menu_overlay .footer_links li span {
    font-family: "Font", sans-serif; }
  .menu_overlay .footer_links li a {
    display: block;
    font-size: 18px;
    color: #FD633F; }
    @media only screen and (max-width: 799px) {
      .menu_overlay .footer_links li a {
        font-size: 16px;
        width: 50%;
        margin-left: auto; } }
    .menu_overlay .footer_links li a:not(:last-of-type) {
      padding-bottom: 8px; }
  .menu_overlay .footer_links li p {
    font-size: 16px; }
    @media only screen and (max-width: 799px) {
      .menu_overlay .footer_links li p {
        width: 50%;
        margin-bottom: -25px;
        margin-right: 0; } }
  .menu_overlay .footer_links li p, .menu_overlay .footer_links li span {
    color: #737373; }

.menu_overlay .copyright {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 112px; }
  @media only screen and (max-width: 799px) {
    .menu_overlay .copyright {
      margin-top: 40px;
      text-align: center; } }
  .menu_overlay .copyright svg {
    width: 56px; }
    @media only screen and (max-width: 799px) {
      .menu_overlay .copyright svg {
        width: 40px; } }
  .menu_overlay .copyright p {
    color: white;
    font-size: 14px;
    font-variation-settings: 'wght' 200;
    font-family: "Font", sans-serif;
    margin-bottom: 0; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: black;
  margin-top: 4vh; }
  footer .container {
    padding: 8vh 4vh; }
    @media only screen and (max-width: 799px) {
      footer .container {
        width: 100%;
        padding: 12vh 20px 12vh 20px;
        margin: 0; } }
    footer .container * {
      color: white; }
    footer .container h1 {
      margin-bottom: 80px; }
      @media only screen and (max-width: 799px) {
        footer .container h1 br {
          display: none; } }
    footer .container > a {
      color: white;
      opacity: 0.5;
      text-decoration: underline; }
    footer .container .footer_links {
      display: flex;
      justify-content: space-between; }
      @media only screen and (max-width: 799px) {
        footer .container .footer_links {
          flex-direction: column; } }
      @media only screen and (max-width: 799px) {
        footer .container .footer_links li {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          margin-bottom: 16px; } }
      footer .container .footer_links li p, footer .container .footer_links li span {
        font-family: "Font", sans-serif; }
      footer .container .footer_links li a {
        display: block;
        font-size: 18px;
        color: #FD633F; }
        @media only screen and (max-width: 799px) {
          footer .container .footer_links li a {
            font-size: 16px;
            width: 50%;
            margin-left: auto; } }
        footer .container .footer_links li a:not(:last-of-type) {
          padding-bottom: 8px; }
      footer .container .footer_links li p {
        font-size: 16px; }
        @media only screen and (max-width: 799px) {
          footer .container .footer_links li p {
            width: 50%;
            margin-bottom: -25px;
            margin-right: 0; } }
      footer .container .footer_links li p, footer .container .footer_links li span {
        color: #737373; }
    footer .container .copyright {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 100px; }
      @media only screen and (max-width: 799px) {
        footer .container .copyright {
          margin-top: 56px;
          flex-direction: column;
          align-items: flex-start; } }
      footer .container .copyright svg {
        width: 40px; }
      footer .container .copyright p {
        font-size: 14px;
        font-variation-settings: 'wght' 200;
        font-family: "Font", sans-serif;
        margin-bottom: 0; }
      footer .container .copyright a {
        margin: 0 0 0 32px; }
        footer .container .copyright a:first-of-type {
          margin: 0 auto 0 0; }
          @media only screen and (max-width: 799px) {
            footer .container .copyright a:first-of-type {
              margin: 0 0 56px 0; } }
        @media only screen and (max-width: 799px) {
          footer .container .copyright a {
            margin: 0 0 16px 0; } }

@font-face {
  font-family: 'Inter';
  src: url("../assets/Inter.ttf") format("truetype");
  font-weight: 100 900; }

body {
  margin: 0;
  font-size: 1rem;
  background-color: #F6F6F6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal; }
  body.overflow {
    overflow: hidden; }

h1, h2, h3 {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300; }

h1 {
  font-size: 4.6rem;
  letter-spacing: -1px;
  line-height: 1.3; }
  @media only screen and (max-width: 799px) {
    h1 {
      font-size: 2.5rem;
      line-height: 1.5; } }

h2 {
  font-size: 2.3rem;
  line-height: 1.6; }
  @media only screen and (max-width: 799px) {
    h2 {
      font-size: 2rem;
      line-height: 1.5; } }

h3 {
  font-size: 1.4rem; }
  @media only screen and (max-width: 799px) {
    h3 {
      font-size: 7vw; } }

p {
  font-family: "Font", sans-serif;
  font-size: 1.2rem;
  line-height: 1.7;
  font-weight: 300;
  margin: 0; }
  @media only screen and (max-width: 799px) {
    p {
      font-size: 1.06rem; } }
  p._small {
    font-size: 0.8rem;
    opacity: 0.5; }

a {
  font-family: 'IBM Plex Mono', monospace;
  color: black;
  text-decoration: none; }

button {
  padding: 0;
  margin: 0;
  border: 0;
  background: none; }

img {
  width: auto;
  height: 100%;
  display: block; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style-type: none;
    font-weight: 200;
    font-variation-settings: 'wght' 200; }

svg.icon_32 {
  width: 32px;
  height: 32px; }
  @media only screen and (max-width: 799px) {
    svg.icon_32 {
      width: 24px;
      height: 24px; } }

.container {
  width: 100%;
  display: block;
  padding: 12vh 4vh;
  box-sizing: border-box; }

.btn-back {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  font-family: "Font", sans-serif;
  font-weight: 500;
  color: #B3B3B3;
  transition: color 0.2s ease-in-out; }
  .btn-back:hover {
    color: #FD633F; }
  .btn-back svg {
    fill: #FD633F;
    margin-right: 24px;
    margin-bottom: 3px; }

.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: #4BEDC2;
  width: 100%;
  height: 100%;
  transform: scaleX(0) skewX(0);
  transform-origin: top left; }

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none; }

img {
  width: 100%;
  height: auto; }

main, footer {
  transition: all .7s ease; }
  main.active, footer.active {
    -webkit-filter: blur(0px) invert(0);
    filter: blur(20px) invert(0); }

.next-project {
  display: block;
  padding: 12vh 4vh;
  box-sizing: border-box; }
  @media only screen and (max-width: 799px) {
    .next-project {
      padding: 4vh 20px; } }

.marquee {
  height: 25px;
  width: 100%;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  background: black; }
  .marquee.marquee_white {
    background: transparent;
    border-bottom: 1px solid; }
    .marquee.marquee_white .marquee-wrap p {
      color: black; }
  .marquee .marquee-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
    .marquee .marquee-wrap p {
      font-size: 11px;
      letter-spacing: 1px;
      line-height: 25px;
      margin-top: 1px;
      text-transform: uppercase;
      font-family: 'IBM Plex Mono', monospace;
      white-space: nowrap;
      color: white;
      transform: translate3d(0, 0, 0); }
    .marquee .marquee-wrap .txt-1 {
      animation: moveSlideshow 15s linear infinite; }
    .marquee .marquee-wrap .txt-3 {
      animation: moveSlideshow 15s linear infinite; }
    .marquee .marquee-wrap .txt-2 {
      transition: opacity 0.5s ease-out;
      animation: moveSlideshow 15s linear infinite; }

main {
  background-color: #fbf9f5; }
  main .intro-section {
    min-height: 80vh;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media only screen and (max-width: 799px) {
      main .intro-section {
        min-height: 90vh;
        max-height: 90vh; } }
    main .intro-section .container {
      padding-top: 0;
      padding-bottom: 0;
      margin: auto; }
    main .intro-section h1 {
      line-height: 1.4;
      padding: 80px 0 0 0; }

@keyframes moveSlideshow {
  0% {
    transform: translateX(0%); }
  -50% {
    transform: translateX(100%); }
  100% {
    transform: translateX(-100%); } }
  main .info .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 55vh; }
    @media only screen and (max-width: 799px) {
      main .info .container {
        padding-top: 160px;
        flex-wrap: wrap; } }
    main .info .container > h1 {
      width: calc(40% - 8px); }
      @media only screen and (max-width: 799px) {
        main .info .container > h1 {
          width: 100%; } }
      @media only screen and (max-width: 799px) {
        main .info .container > h1 br {
          display: none; } }
    main .info .container .right {
      width: calc(60% - 8px);
      margin-top: 24px; }
      @media only screen and (max-width: 799px) {
        main .info .container .right {
          width: 100%; } }
      main .info .container .right .icon_32 {
        margin-bottom: 16px; }
      main .info .container .right h2 {
        margin-bottom: 32px; }
    main .info .container p {
      margin-bottom: 56px; }
      main .info .container p:nth-of-type(2) {
        margin-bottom: 72px; }
    main .info .container .values {
      display: flex;
      flex-direction: column; }
      main .info .container .values svg {
        width: 32px;
        height: 32px;
        fill: black; }
    main .info .container h3 {
      margin: 16px 0; }
    main .info .container .skills {
      display: flex;
      flex-wrap: wrap; }
      main .info .container .skills li {
        width: 33.33%;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 0.6rem;
        margin-bottom: 8px;
        line-height: 1.6;
        letter-spacing: -0.5px; }
  main_gallery {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 120px 0; }
    @media only screen and (max-width: 799px) {
      main_gallery {
        display: flex;
        overflow-x: auto; } }
    main_gallery .img-wrap {
      max-width: 300px;
      padding: 0 1vw; }
      @media only screen and (max-width: 799px) {
        main_gallery .img-wrap {
          flex: 0 0 auto;
          width: auto;
          max-width: 200px; } }
      main_gallery .img-wrap:first-of-type {
        padding-left: 0; }
        main_gallery .img-wrap:first-of-type img {
          margin-top: 40px; }
      main_gallery .img-wrap:nth-of-type(3) img {
        margin-top: 80px; }
      main_gallery .img-wrap:last-of-type {
        padding-right: 0; }
        main_gallery .img-wrap:last-of-type img {
          margin-top: 40px; }
  main .work .work-item {
    display: flex;
    flex-direction: column;
    padding: 0; }
    main .work .work-item_content, main .work .work-item_link {
      padding: 56px 4vh; }
    main .work .work-item_content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      order: 2; }
      @media only screen and (max-width: 799px) {
        main .work .work-item_content {
          padding-bottom: 2vh; } }
      main .work .work-item_content p {
        flex: 0 1 calc(50% - 8px);
        margin-top: 8px; }
        @media only screen and (max-width: 799px) {
          main .work .work-item_content p {
            flex-basis: 100%; } }
    main .work .work-item_header:hover svg.arrow,
    main .work .work-item_header:hover ~ .work-item_header svg.arrow, main .work .work-item_link:hover svg.arrow,
    main .work .work-item_link:hover ~ .work-item_header svg.arrow {
      opacity: 1;
      transform: translateX(-30px); }
    main .work .work-item_header:hover p:last-of-type,
    main .work .work-item_header:hover ~ .work-item_header p:last-of-type, main .work .work-item_link:hover p:last-of-type,
    main .work .work-item_link:hover ~ .work-item_header p:last-of-type {
      opacity: 0; }
    main .work .work-item_header:hover ~ .work-item_header, main .work .work-item_link:hover ~ .work-item_header {
      background: #e6e6e6; }
    main .work .work-item_header {
      position: relative;
      border-top: 1px solid;
      border-bottom: 1px solid;
      padding: 24px 4vh;
      transition: background .2s ease-in-out; }
      main .work .work-item_header:hover {
        background: #e6e6e6; }
      main .work .work-item_header p {
        display: inline-block;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 11px; }
        main .work .work-item_header p:not(:last-of-type) {
          margin-right: 56px; }
          @media only screen and (max-width: 799px) {
            main .work .work-item_header p:not(:last-of-type) {
              margin-right: 16px; } }
        main .work .work-item_header p:last-of-type {
          float: right;
          opacity: 1;
          transform: translateX(0px);
          transition: all .3s ease-in-out; }
      main .work .work-item_header svg.arrow {
        position: absolute;
        right: 4vh;
        bottom: 17px;
        width: 32px;
        height: 32px;
        opacity: 0;
        transform: translateX(30px);
        transition: all .3s ease-in-out; }
        @media only screen and (max-width: 799px) {
          main .work .work-item_header svg.arrow {
            display: none; } }
    main .work .work-item_link {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      box-sizing: border-box;
      order: 3; }
      @media only screen and (max-width: 799px) {
        main .work .work-item_link {
          padding-top: 2vh; } }
      main .work .work-item_link .img-wrap {
        width: calc(50% - 4px);
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center; }
        @media only screen and (max-width: 799px) {
          main .work .work-item_link .img-wrap {
            width: 100%; }
            main .work .work-item_link .img-wrap:nth-of-type(2) {
              margin-top: 24px; } }
        main .work .work-item_link .img-wrap img {
          width: 100%;
          height: auto; }
          main .work .work-item_link .img-wrap img.imglarge {
            width: 200%; }

#project .project_description {
  padding: 12vh 4vh 0 4vh; }
  @media only screen and (max-width: 799px) {
    #project .project_description {
      padding: 24vh 20px 12vh 20px; } }
  #project .project_description h2 {
    margin: 32px 0 16px 0; }
    @media only screen and (max-width: 799px) {
      #project .project_description h2 {
        margin-bottom: 8px; } }
  #project .project_description p {
    margin-bottom: 32px; }

@media only screen and (max-width: 799px) {
  #project .next-project {
    padding: 0 20px 12vh 20px; } }

#project .next-project h2 {
  margin-bottom: 16px; }

.grid {
  display: grid;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto; }

.photo .container {
  display: flex;
  padding-top: 55vh; }
  @media only screen and (max-width: 799px) {
    .photo .container {
      padding-top: 160px; } }

.photo .flex {
  width: 33.333%;
  flex-direction: column; }
  .photo .flex img {
    padding: 4px;
    box-sizing: border-box; }
