@font-face {
	font-family: CircularStd;
	src: local("CircularStd"),
		url(../assets/CircularStd-Book.otf);
	font-weight: 400;
}
@font-face {
	font-family: CircularStd;
	src: local("CircularStd"),
		url(../assets/CircularStd-Medium.otf);
	font-weight: 500;
}
@font-face {
	font-family: CircularStd;
	src: local("CircularStd"),
		url(../assets/CircularStd-Bold.otf);
	font-weight: 600;
}

@font-face {
	font-family: HKGrotesk;
	src: local("HKGrotesk"),
		url(../assets/HKGrotesk-Light.ttf);
	font-weight: 300;
}
@font-face {
	font-family: HKGrotesk;
	src: local("HKGrotesk"),
		url(../assets/HKGrotesk-Regular.ttf);
	font-weight: 400;
}
@font-face {
	font-family: HKGrotesk;
	src: local("HKGrotesk"),
		url(../assets/HKGrotesk-Bold.ttf);
	font-weight: 600;
}