footer {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-color: black;
	margin-top: $spaceHorizontal;
	
	
	.container {
		padding: $spaceHorizontal * 2 $spaceHorizontal;
		// display: flex;
		// flex-direction: row;
		// flex-wrap: wrap;
		
		@include media('mobile') {
			width: 100%;
			padding: $spaceVertical 20px $spaceVertical 20px;
			margin: 0;
		}
		
		* {
			color: white;
		}
		
		h1 {
			margin-bottom: 80px;
			
			br {
				@include media('mobile') {
					display: none;
				}
			}
		}

		> a {
			color: white;
			opacity: 0.5;
			text-decoration: underline;
		}
		
		// > p {
		// 	font-weight: 200;
		// 	font-variation-settings: 'wght' 200;
		// 	line-height: 1.8;
		// 	margin: 32px 0 112px 0;
			
		// 	@include media('mobile') {
		// 		margin-bottom: 80px;
		// 	}
		// 	br {
		// 		@include media('mobile') {
		// 			display: none;
		// 		}
		// 	}

		// 	a {
		// 		color: $gray;
		// 		text-decoration: underline;
		// 	}
		// }
	
		.footer_links {
			display: flex;
			justify-content: space-between;
	
			@include media('mobile') {
				flex-direction: column;
			}
			
			li {
				@include media('mobile') {
					width: 100%;
					display: flex;
					flex-direction: column;
					flex-wrap: wrap;
					margin-bottom: 16px;
				}
				
				p, span {
					font-family: $font;
				}
				
				a {
					display: block;
					font-size: 18px;
					color: #FD633F;
					
					@include media('mobile') {
						font-size: 16px;
						width: 50%;
						margin-left: auto;
					}
					
					&:not(:last-of-type) {
						padding-bottom: 8px;
					}
				}
				
				p {
					font-size: 16px;
					@include media('mobile') {
						width: 50%;
						margin-bottom: -25px;
						margin-right: 0;
					}
				}
				
				p, span {
					color: #737373;
				}
			}
			
		}
	
		.copyright {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 100px;
	
			@include media('mobile') {
				margin-top: 56px;
				flex-direction: column;
				align-items: flex-start;
			}
			
			svg {
				width: 40px;
			}
			
			p {
				font-size: 14px;
				font-variation-settings: 'wght' 200;
				font-family: $font;
				margin-bottom: 0;
			}
			
			a {
				margin: 0 0 0 32px;
				
				
				&:first-of-type {
					margin: 0 auto 0 0;

					@include media('mobile') {
						margin: 0 0 56px 0;
					}
				}

				@include media('mobile') {
					margin: 0 0 16px 0;
				}
			}
		}
	}
}