#header {
    width: 100%;
    position: fixed;
    top: 0;
    display: block;
    z-index: 10;

    &.blur {
        -webkit-filter: blur(20px);
        -moz-filter: blur(20px);
        -o-filter: blur(20px);
        -ms-filter: blur(20px);
        filter: blur(20px);
    }

    .nav {
        position: relative;
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: $spaceHorizontal;
        z-index: 601;
        box-sizing: border-box;

        @include media('mobile') {
            padding: 32px 20px;
        }
        
        .logo {
            display: block;
            margin-right: auto;
            margin-left: 0;
            
            img {
                display: block;
                width: auto;
                height: 32px;
            }
        }
        
        a {
            margin-left: 32px;
            font-size: 0.8rem;
            
            @include media('mobile') {
                margin-left: 24px;
            }
        }

        .burger-menu {
            position: relative;
            height: 12px;
            width: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 12px 0px 12px 12px;
            transform-origin: 50% 50%;
            cursor: pointer;
            pointer-events: all;

            span {
                display: block;
                width: 100%;
                height: 2px;
                background-color: black;
            }
        }

        .close_link {
            position: absolute;
            z-index: 100;
            right: 48px;
            opacity: 0;
            visibility: hidden;
            display: none;
            color: white;
            transform: translateY(-40px);
        }
    }

    .menu_overlay {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: calc(100% - 80px);
        min-height: 100vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        padding: $spaceVertical $spaceHorizontal $spaceHorizontal $spaceHorizontal $spaceHorizontal;
        overflow: hidden;
        background: #013B2B;
        background: black;
        opacity: 0;
        visibility: hidden;
        z-index: 101;
        box-sizing: border-box;
        
        @include media('mobile') {
            padding: 0 20px;
        }
        
        .menu_primary {
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 0;
            padding-top: 16px;
            margin-top: auto;
            margin-bottom: auto;
            z-index: 601;

        
            > li {
                &:not(:last-of-type) {
                    margin-bottom: 40px;
                }
    
                a.menu_link {
                    position: relative;
                    display: inline-block;
                    font-size: 60px;
                    font-weight: 700;
                    line-height: 1;
                    opacity: 0;
                    color: white;
                    transition: color .2s ease-in-out;
                    
                    @include media('mobile') {
                        font-size: 32px;
                        line-height: 1.5;
                    }
                    
                    &:hover {
                        color: #FD633F;
                    }

                    &.inactive {
                        opacity: 0.2;
                    }
                }
            }
        }
    }
}

.menu_overlay {
    h1,
    p,
    a,
    .copyright {
        opacity: 0;
        transform: translateY(30px);
    }
    
    h1 {
        width: 100%;
        margin-bottom: 0px;
        color: white
    }
    
    > p {
        font-weight: 200;
        font-variation-settings: 'wght' 200;
        line-height: 1.8;
        margin: auto 0;
        color: white;

        @include media('mobile') {
            margin-bottom: 80px;
        }
        br {
            @include media('mobile') {
                display: none;
            }
        }
    
        a {
            color: $gray;
            text-decoration: underline;
        }
    }
    
    .footer_links {
        display: flex;
        justify-content: space-between;
    
        @include media('mobile') {
            flex-direction: column;
        }
        
        li {
            @include media('mobile') {
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                margin-bottom: 16px;
            }
            
            p, span {
                font-family: $font;
            }
            
            a {
                display: block;
                font-size: 18px;
                color: #FD633F;
                
                @include media('mobile') {
                    font-size: 16px;
                    width: 50%;
                    margin-left: auto;
                }
                
                &:not(:last-of-type) {
                    padding-bottom: 8px;
                }
            }
            
            p {
                font-size: 16px;
                @include media('mobile') {
                    width: 50%;
                    margin-bottom: -25px;
                    margin-right: 0;
                }
            }
            
            p, span {
                color: #737373;
            }
        }
        
    }
    
    .copyright {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 112px;
    
        @include media('mobile') {
            margin-top: 40px;
            text-align: center;
        }
        
        svg {
            width: 56px;
            
            @include media('mobile') {
                width: 40px;
            }
        }
    
        p {
            color: white;
            font-size: 14px;
            font-variation-settings: 'wght' 200;
            font-family: $font;
            margin-bottom: 0;
        }
    }
}