@import 'reset';
@import 'variables';
@import 'header';
@import 'footer';
@font-face { 
	font-family: 'Inter'; 
    src: url('../assets/Inter.ttf') format('truetype');
    font-weight: 100 900;
}
// @font-face {
//     font-family: "Helvetica";
//     src: url("../assets/HelveticaNeueLTStd-Bd.otf") format("opentype");
//     font-weight: 700;
//     font-style: normal;
// }
// @font-face {
//     font-family: "Helvetica";
//     src: url("../assets/HelveticaNeueLTStd-Roman.otf") format("opentype");
//     font-weight: 400;
//     font-style: normal;
// }
// @font-face {
//     font-family: "Helvetica";
//     src: url("../assets/HelveticaNeueLTStd-Lt.otf") format("opentype");
//     font-weight: 300;
//     font-style: normal;
// }

body {
    margin: 0;
    font-size: 1rem;
    background-color: #F6F6F6;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;

    &.overflow {
        overflow: hidden;
    }
}

h1, h2, h3 {
    margin: 0;
    // font-family: 'Inter', serif;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 4.6rem;
    letter-spacing: -1px;
    line-height: 1.3;

    @include media('mobile') {
        font-size: 2.5rem;
        line-height: 1.5;
    }
}

h2 {
    font-size: 2.3rem;
    line-height: 1.6;
    
    @include media('mobile') {
        font-size: 2rem;
        line-height: 1.5;
    }
}

h3 {
    font-size: 1.4rem;
    
    @include media('mobile') {
        font-size: 7vw;
    }
}

p {
    font-family: $font;
    font-size: 1.2rem;
    line-height: 1.7;
    font-weight: 300;
    margin: 0;
    
    @include media('mobile') {
        font-size: 1.06rem;
    }
    &._small {
        font-size: 0.8rem;
        opacity: 0.5;
    }
}

a {
    font-family: 'IBM Plex Mono', monospace;
    color: black;
    text-decoration: none;
}

button {
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
}

img {
    width: auto;
    height: 100%;
    display: block;
}

ul {
    margin: 0;
    padding: 0;
    
    li {
        list-style-type: none;
        font-weight: 200;
        font-variation-settings: 'wght' 200;
    }
}

svg.icon_32 {
    width: 32px;
    height: 32px;

    @include media('mobile') {
        width: 24px;
        height: 24px;
    }
}

.container {
    width: 100%;
    // max-width: 1380px;
    display: block;
    // margin: 0 auto;
    padding: $spaceVertical $spaceHorizontal;
    box-sizing: border-box;
}

.btn-back {
	display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    font-family: $font;
    font-weight: 500;
    color: #B3B3B3;
	transition: color 0.2s ease-in-out;
    
	&:hover {
        color: #FD633F;
	}
	
	svg {
        fill: #FD633F;
		margin-right: 24px;
        margin-bottom: 3px;
	}
}

.loading-screen {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: #4BEDC2;
    width: 100%;
    height: 100%;
    transform: scaleX(0) skewX(0);
    transform-origin: top left;
  }
  
  .loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
  }

img {
    width: 100%;
    height: auto;
}

main, footer {
    transition: all .7s ease;
    
    &.active {
        -webkit-filter: blur(0px) invert(0);
        filter: blur(20px) invert(0);
    }
}

.next-project {
    display: block;
    padding: $spaceVertical $spaceHorizontal;
    box-sizing: border-box;

    @include media('mobile') {
        padding: $spaceHorizontal 20px;
    }
}

.marquee {
    height: 25px;
    width: 100%;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    background: black;

    &.marquee_white {
        background: transparent;
        border-bottom: 1px solid ;

        .marquee-wrap p {
            color: black;
        }
    }

    .marquee-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        
        p {
            font-size: 11px;
            letter-spacing: 1px;
            line-height: 25px;
            margin-top: 1px;
            text-transform: uppercase;
            font-family: 'IBM Plex Mono', monospace;
            white-space: nowrap;
            color: white;
            transform: translate3d(0, 0, 0);
        }

        .txt-1 {
            animation: moveSlideshow 15s linear infinite;
        }
        .txt-3 {
            animation: moveSlideshow 15s linear infinite;
        }
        .txt-2 {
            // opacity: 0;
            transition: opacity 0.5s ease-out;
            animation: moveSlideshow 15s linear infinite;
        }
    }
}

main {
    background-color: #fbf9f5;

    .intro-section {
        min-height: 80vh;
        max-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        @include media('mobile') {
            min-height: 90vh;
            max-height: 90vh;
        }

        .container {
            padding-top: 0;
            padding-bottom: 0;
            margin: auto;
        }
        

        h1 {
            line-height: 1.4;
            // margin-bottom: 4vw;
            padding: 80px 0 0 0;
        } 
          
        @keyframes moveSlideshow {
            0% {
                transform: translateX(0%);  
            }
            -50% {
                transform: translateX(100%);  
            }
            100% {
                transform: translateX(-100%);  
            }
        }
    }
    
    .info {
        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 55vh;
            
            @include media('mobile') {
                padding-top: 160px;
                flex-wrap: wrap;
            }
            
            > h1 {
                width: calc(40% - 8px);
                
                @include media('mobile') {
                    width: 100%;
                }

                br {
                    @include media('mobile') {
                        display: none;
                    }
                }
            }
            
            .right {
                width: calc(60% - 8px);
                margin-top: 24px;

                @include media('mobile') {
                    width: 100%;
                }

                .icon_32 {
                    margin-bottom: 16px;
                }

                h2 {
                    margin-bottom: 32px;
                }
            }
            
            p {
                margin-bottom: 56px;

                &:nth-of-type(2) {
                    margin-bottom: 72px;
                }
            }
    
            .values {
                display: flex;
                flex-direction: column;

                svg {
                    width: 32px;
                    height: 32px;
                    fill: black;
                }
            }

            h3 {
                margin: 16px 0;
            }
            
            .skills {
                display: flex;
                flex-wrap: wrap;
                
                li {
                    width: 33.33%;
                    font-family: 'IBM Plex Mono', monospace;
                    font-size: 0.6rem;
                    margin-bottom: 8px;
                    line-height: 1.6;
                    letter-spacing: -0.5px;
                }
            }
        }
    }
    
    &_gallery {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 120px 0;
        
        
        @include media('mobile') {
            display: flex;
            overflow-x: auto;
        }
    
        .img-wrap {
            max-width: 300px;
    
            @include media('mobile') {
                flex: 0 0 auto;
                width: auto;
                max-width: 200px;
            }
            
            &:first-of-type {
                padding-left: 0;

                img {
                    margin-top: 40px;
                }
            }
            &:nth-of-type(3) {
                img {
                    margin-top: 80px;
                }
            }
            &:last-of-type {
                padding-right: 0;
                img {
                    margin-top: 40px;
                }
            }
            padding: 0 1vw;
        }
    }

    .work {
        .work-item {
            display: flex;
            flex-direction: column;
            padding: 0;
            
            &_content,
            &_link {
                padding: 56px $spaceHorizontal;
            }
            
            &_content {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                order: 2;

                @include media('mobile') {
                    padding-bottom: $spaceHorizontal / 2;
                }

                p {
                    flex: 0 1 calc(50% - 8px);
                    margin-top: 8px;

                    @include media('mobile') {
                        flex-basis: 100%;
                    }
                }
            }
            
            &_header,
            &_link {
                &:hover,
                &:hover ~ .work-item_header {
                    svg.arrow {
                        opacity: 1;
                        transform: translateX(-30px);
                    }
                    
                    p:last-of-type {
                        opacity: 0;
                    }
                }

                &:hover ~ .work-item_header {
                    background: #e6e6e6;
                }
            }
            
            &_header {
                position: relative;
                border-top: 1px solid;
                border-bottom: 1px solid;
                padding: 24px $spaceHorizontal;
                transition: background .2s ease-in-out;

                &:hover {
                    background: #e6e6e6;
                }
    
                p {
                    display: inline-block;
                    font-family: 'IBM Plex Mono', monospace;
                    font-size: 11px;
    
                    &:not(:last-of-type) {
                        margin-right: 56px;

                        @include media('mobile') {
                            margin-right: 16px;
                        }
                    }
                    
                    &:last-of-type {
                        float: right;
                        opacity: 1;
                        transform: translateX(0px);
                        transition: all .3s ease-in-out;
                    }
                }
    
                svg.arrow {
                    position: absolute;
                    right: $spaceHorizontal;
                    bottom: 17px;
                    width: 32px;
                    height: 32px;
                    opacity: 0;
                    transform: translateX(30px);
                    transition: all .3s ease-in-out;

                    @include media('mobile') {
                        display: none;
                    }
                }
            }
            
            &_link {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                box-sizing: border-box;
                order: 3;

                @include media('mobile') {
                    padding-top: $spaceHorizontal / 2;
                }

                .img-wrap {
                    width: calc(50% - 4px);
                    height: 100%;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    @include media('mobile') {
                        width: 100%;
                        
                        &:nth-of-type(2) {
                            margin-top: 24px;
                        }
                    }
                    
                    img {
                        width: 100%;
                        height: auto;
                        

                        &.imglarge {
                            width: 200%;
                        }
                    }
                }
            }
        }
    }
}

#project {
    .project_description {
        padding: $spaceVertical $spaceHorizontal 0 $spaceHorizontal;

        @include media('mobile') {
            // padding: 132px 0 32px 0;
            padding: $spaceVertical * 2 20px $spaceVertical 20px;
        }

        h2 {
            margin: 32px 0 16px 0;
    
            @include media('mobile') {
                margin-bottom: 8px;
            }
        }
        p {
            margin-bottom: 32px;
        }
    }
    .next-project {
        @include media('mobile') {
            padding: 0 20px $spaceVertical 20px;
        }
        h2 {
            margin-bottom: 16px;
        }
    }
}
.grid {
    display: grid;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}
.photo {
    .container {
        display: flex;
        padding-top: 55vh;

        @include media('mobile') {
            padding-top: 160px;
        }
    }
}

.photo .flex {
    width: 33.333%;
    flex-direction: column;

    
    img {
        padding: 4px;
        box-sizing: border-box;
    }
}