<header id="header">
	
	<nav class="nav">
		<a class="logo" href="/index.html">	
			<img src="/assets/logo-circle.svg">
		</a>
		
		<a class="menu_link" href="/index.html">Work</a>
		<a class="menu_link" href="/info.html">Info</a>
		<a class="menu_link" href="/photography.html">Photography</a>

		<!-- <div class="burger-menu">
			<span class="burger-menu-line1"></span>
			<span class="burger-menu-line2"></span>
		</div> -->
		<!-- <a class="openClose close_link">Close</a> -->
	</nav>

	<div class="menu_overlay">
		<ul class="menu_primary">
			<li><a class="menu_link" href="/sensilia.html">Sensilia</a></li>
			<li><a class="menu_link" href="/norwegian-voiceovers.html">Norwegian Voiceovers</a></li>
			<li><a class="menu_link" href="/random.html">Random</a></li>
		</ul>
		<!-- <h1>Got a project</br> in mind?</h1>
		<p>If you'd like to hire me and get in touch,</br> <a target="_blank" href="mailto:hello@dusanz.com">drop me a message</a>. I'll get back to you asap.</p>
		<ul class="footer_links">
			<li>
				<p>say hi</p>
				<a target="_blank" href="mailto:hello@dusanz.com">hello@dusanz.com</a>
				<a target="_blank" href="tel:381694283893"><span class="text_light">+381</span> 69 42 83 893</a>
			</li>
				
			<li>
				<p>social</p>
				<a href="">LinkedIn</a>
				<a href="">Instagram</a><a href="">Dribbble</a>
			</li>
			<li>
				<p>location</p>
				<a href=""><span>11000</span> Belgrade, Serbia</a>
			</li>
		</ul>
		<div class="copyright">
			<a href="/">
				<svg width="100%" height="100%" viewBox="0 0 63 77" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
					<g transform="matrix(1,0,0,1,-13842.9,122)">
						<g transform="matrix(0.465116,0,0,0.465116,7069.24,-224.791)">
							<circle cx="14655" cy="264" r="43" style="fill:url(#_Linear1);"/>
						</g>
						<g transform="matrix(0.465116,0,0,0.465116,7069.24,-224.791)">
							<circle cx="14655" cy="264" r="43" style="fill:url(#_Linear2);"/>
						</g>
						<path d="M13879.7,-83.248L13878.4,-83.028L13877.4,-85.817L13875.9,-91.247L13873.7,-97.007L13873.3,-100.713L13875.5,-103.42L13874.7,-107.12L13868.2,-109.908L13867.9,-112.161L13868.6,-113.219C13871.2,-111.981 13874,-110.33 13876.9,-108.155L13876.9,-108.154C13878.1,-108.493 13880.4,-108.185 13883.5,-104.027C13883.5,-104.027 13885.4,-101.313 13886.4,-97.919C13886.4,-97.919 13885.3,-95.017 13882.2,-97.499C13880.3,-99.052 13877.6,-99.04 13877.6,-99.04C13877.6,-98.758 13877.8,-98.529 13878.1,-98.378C13878.1,-98.378 13886.8,-94.21 13882.3,-85.862C13882.1,-85.551 13882,-85.249 13881.8,-84.953C13884.6,-83.98 13887.3,-85.716 13887.3,-85.716C13890.5,-76.586 13885.5,-69.959 13885.5,-69.959C13885.1,-71.52 13884,-71.005 13884,-71.005L13885.1,-72.645L13885.4,-76.284L13885.2,-82.023L13883.7,-81.609L13880.5,-81.525L13879.7,-83.248Z" style="fill-opacity:0.13;fill-rule:nonzero;"/>
						<path d="M13848.1,-46.628L13850.2,-45.487C13850.2,-45.487 13848,-52.59 13852.6,-61.988L13853.9,-63.026L13853.8,-65.438L13851.5,-63.703L13849,-58.785L13847.6,-47.968L13848.1,-46.628ZM13854.7,-63.146C13854.7,-63.146 13861,-66.509 13860.9,-74.52L13855.2,-75.295L13854.8,-71.965L13854.7,-63.146Z" style="fill-opacity:0.13;fill-rule:nonzero;"/>
						<g transform="matrix(0.185144,-0.0496092,0.0496092,0.185144,13888.1,-80.8726)">
							<path d="M0,-122.299C-9.791,-146.581 -20.354,-151.016 -26.82,-150.983L-26.813,-150.985C-49.841,-180.909 -74.698,-199.317 -97.676,-210.556C-107.492,-231.797 -129.264,-240.887 -129.264,-240.887C-116.456,-230.862 -112.605,-221.591 -111.456,-216.564C-151.808,-232.105 -183.344,-226.608 -183.344,-226.608C-183.344,-226.608 -151.681,-225.055 -134.297,-213.259C-134.297,-213.259 -146.714,-208.913 -165.649,-210.776C-165.649,-210.776 -146.067,-197.22 -119.314,-210.197L-120.883,-209.391C-120.883,-209.391 -98.557,-208.288 -71.783,-181.049C-71.783,-181.049 -107.911,-171.818 -120.883,-179.734C-133.855,-187.65 -162.157,-190.676 -162.157,-190.676C-162.157,-190.676 -133.208,-182.993 -128.824,-171.353C-128.824,-171.353 -137.479,-165.998 -155.405,-168.326C-155.405,-168.326 -142.094,-157.383 -116.971,-166.464C-91.847,-175.543 -84.862,-147.605 -84.862,-147.605C-84.862,-147.605 -78.111,-155.288 -87.889,-168.326C-87.889,-168.326 -62.301,-180.418 -38.335,-147.657C-69.643,-135.987 -77.811,-105.586 -77.811,-105.586C-77.811,-105.586 -91.074,-64.846 -128.824,-54.013C-183.203,-38.409 -207.314,-75.457 -207.314,-75.457C-218.598,-57.638 -196.807,-42.48 -196.807,-42.48C-213.383,-34.143 -211.543,9.125 -214.501,26.392C-217.449,43.609 -223.916,47.306 -223.916,47.306C-232.936,53.461 -238.559,42.127 -238.559,42.127C-240.09,57.443 -243.172,80.385 -247.695,90.231C-250.044,96.381 -257.627,92.125 -257.627,92.125C-260.599,100.262 -264.013,106.714 -264.013,106.714C-255.709,108.255 -247.716,118.588 -247.716,118.588C-238.764,84.769 -225.008,65.332 -215.642,55.307L-215.651,55.311C-215.651,55.311 -208.275,43.757 -198.031,39.566C-198.031,39.566 -201.598,42.912 -206.234,49.795C-172.095,40.671 -160.908,12.657 -157.577,0.247C-159.881,-1.946 -162.055,-5.136 -163.281,-9.772C-163.281,-9.772 -160.589,-5.655 -156.698,-3.611C-153.186,-1.765 -148.21,-0.45 -147.273,-0.212C-132.665,3.263 -114.08,1.749 -114.08,1.749C-114.08,1.749 -89.856,0.526 -64.041,-11.296C-65.425,-17.301 -61.902,-23.111 -61.902,-23.111C-62.498,-17.927 -61.166,-14.194 -59.655,-11.725C-54.178,-4.402 -42.849,3.986 -21.305,-3.098L-21.303,-3.097C-21.303,-3.097 -22.545,23.281 -28.133,31.352C-33.721,39.424 -40.86,31.973 -40.86,31.973L-48.311,42.838C-36.515,47.184 -34.962,53.703 -34.962,53.703C4.461,12.727 -3.609,-20.178 -3.609,-20.178C-18.715,-14.094 -29.771,-23.176 -35.356,-29.707C-33.293,-31.543 -31.279,-33.482 -29.335,-35.536C3.492,-70.226 -33.447,-101.832 -33.447,-101.832C-34.941,-103.023 -35.465,-104.354 -35.316,-105.782C-35.316,-105.782 -21.793,-102.225 -14.527,-92.189C-2.914,-76.145 6.363,-88.774 6.363,-88.774C5.743,-106.623 0,-122.299 0,-122.299" style="fill:rgb(244,235,225);fill-rule:nonzero;"/>
						</g>
					</g>
					<defs>
						<linearGradient id="_Linear1" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(13.0384,68.6346,-68.6346,13.0384,14648.4,230.096)"><stop offset="0" style="stop-color:rgb(255,0,32);stop-opacity:1"/><stop offset="1" style="stop-color:rgb(255,27,0);stop-opacity:1"/></linearGradient>
						<linearGradient id="_Linear2" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(41.3462,-28.1154,28.1154,41.3462,14616.1,273.096)"><stop offset="0" style="stop-color:rgb(255,88,32);stop-opacity:1"/><stop offset="1" style="stop-color:rgb(255,88,32);stop-opacity:0"/></linearGradient>
					</defs>
				</svg>
			</a>
			<p>©2019 All Rights Reserved</p>
		</div>
	</div> -->
</header>